view,
swiper,
swiper-item {
	box-sizing: border-box;
}
image {
	display: block;
}
.safe-view {
	height: env(safe-area-inset-bottom);
}
.tabbar-bottom{
	height: 197rpx;
}
button::after {
	border: none;
}
